@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #222222;
}

body {
  background-color: var(--foreground-rgb);
  color: white;
  margin: 0 auto;
  width: 80%;
}

/*! Scroll Bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.lines{
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.lines span{
  background:linear-gradient(to bottom ,transparent,white,transparent);
  height: 100vh;
  width: 1px;
  animation: bgAnimation 2s linear;
}
@keyframes bgAnimation {
  0%{height: 0vh;}
  100%{height: 100vh;}
  
}