@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #222222;
  /** Portfolio Card Variables */
  --size: clamp(300px, 22vw, 550px);
  --dot_color: #a2a2a2;
  --card_color: rgba(17, 23, 42, 0.95);
  --size_of_line: 3px;
  
}

body {
  background-color: var(--foreground-rgb);
  color: white;
  margin: 0 auto;
  width: 80%;
  overflow-x: hidden;
}

/*! Scroll Bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.lines {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}
