@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #222222;
}

body {
  background-color: var(--foreground-rgb);
  color: white;
  margin: 0 auto;
  width: 80%;
}

/*! Scroll Bar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}
