@font-face {
  font-family: "Geist";
  src: url("./fonts/Geist-Mono/GeistMono-Thin.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Geist";
  src: url("./fonts/Geist-Mono/GeistMono-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Geist";
  src: url("./fonts/Geist-Mono/GeistMono-Medium.otf");
  font-weight: 400;

}
@font-face {
  font-family: "Geist";
  src: url("./fonts/Geist-Mono/GeistMono-SemiBold.otf");
  font-weight: 500;

}
@font-face {
  font-family: "Geist";
  src: url("./fonts/Geist-Mono/GeistMono-Bold.otf");
  font-weight: 700;
}
.radix-themes {
  --default-font-family: "Geist" !important;
}
